{block title}Přehled pravidelných plateb{/block}

{block content}

<a n:href="add"><button class="btn btn-primary btn-flat pull-right">Přidat pravidelnou platbu</button></a>

{control periodicPaymentList}